/* Base Styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc; /* Beige background */
  color: #4b4b4b; /* Text color */
}

/* Intro Section Styling */
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  background-color: #f5f5dc; /* Beige background */
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.headshot {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #8a5d3b;
  margin-bottom: 20px;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.intro-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 15px 0;
}

.intro-text button {
  margin: 10px 10px;
}

/* Skills Section Styling */
.skills-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.skills-list {
  font-size: 1.5rem;
  line-height: 1.8;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
  list-style-type: disc;
  padding-left: 20px;
}

/* Projects Section Styling */
#projects {
  text-align: center;
  padding: 50px 20px;
}

.project {
  margin: 20px auto;
  max-width: 800px;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 10px;
}

.project-link {
  font-size: 1rem;
  color: #8a5d3b;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline; /* Add underline on hover for clarity */
}

/* Button Styling */
button {
  background-color: #8a5d3b;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #6b4830;
}

/* Menu Toggle for Mobile */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #a27b5c;
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
  }

  .menu-toggle {
    display: block;
  }
}
